body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F8F9FA;
  color: #212529;
}
.navbar-brand {
    font-size: 2rem;
}
.navbar{
  background-color: #221f56;
  padding: 1rem 2rem;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 8px 10px #3f3e2d;

}
.navbar a{
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
}
.navbar a:hover{
    transform: scale(1.06);
    color:#66707a
}
.dropdown-menu{
    color:#F8F9FA;
    background-color: #221f56;
}
.dropdown-menu:hover{
    transform: scale(1.06);
}

.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
}
.btn{
    background-color: #221f56;
    color:#F8F9FA;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05)
   
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #221f56;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    height: 250px;
    color:#F8F9FA;
}



.feature-card:hover,
.course-card:hover {
  transform: scale(1.05) skew(1deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}
.stats{
    margin-top: 50px;
    background-color:#F8F9FA;
    color:#221f56;

}
.testimonials img{
    border-radius: 50%;
    height: 60px;

}


